/* css for Captsone TD-Project12 web page  */

.navbar .navbar-brand {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1rem;
}

.appButton {
  text-decoration: none;
  background-color: #000;
  border: none;
  color:#61dafb;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8em;
  cursor: pointer;
  margin: 2px;
  padding: 5px;
  border-radius: 12px;
}

.appButton:hover {
  color: #000;
  background-color:#4a525a;
}

.link {
  display: inline-block;
  color:#61dafb;
  text-decoration: none;
  text-align: center;
  font-weight: lighter;
  font-size: 1.2em;
  line-height: 1em;
  padding: 12px;
  width: auto;
  height: auto;
  max-width: 240px;
  margin: 5px auto;
  border: 1px solid gray;
  border-radius: 24px;
  background-color: #808080;/* #8d9aa5; */
  background: linear-gradient(#000, #545d66);
  background: linear-gradient(linear, left top, left bottom, from(#EDEDED), to(#808080));
  /* background: -webkit-gradient (linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
  background: -moz-linear-gradient(top, #EDEDED, #DCDCDC); */
}
.link:hover {
  background: linear-gradient(#545d66, #000);
  text-decoration: none;
  color:#61dafb;
  /* background: -webkit-gradient (linear, left top, left bottom, from(#EDEDED), to(#808080)); */
  /* background: -moz-linear-gradient(top, #EDEDED, #808080,); */
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#EDEDED');*/
}

/* .jumbotron {
  background-image: url('../img/jumbo-bg.jpg');
  background-size: cover;
} */

/* this may need to place back in index.html - to support older browsers
<!-- optional
  - jQuery first then Popper.js then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
*/
